iframe.reveal-demo {
  width: 100%;
  height: 350px;
  outline: none;
}

.slide-deck {
  border: 3px solid #dee2e6;
  width: 100%;
  height: 475px;
}

@media only screen and (max-width: 600px) {
 .slide-deck {
    height: 400px;
  }
}

.about-main .about-contents {
    flex: 0 0 60% !important;
}

#pm > h4 {
  margin-top: 0;
  margin-bottom: 1rem;
}

#pm > div > div > p {
  margin-bottom: 0;
}

.author {
  font-size: larger;
}

#title-slide > h1 {
  font-size: 72px;
}

.email {
  font-size: smaller;
    margin-top: 46px !important;
}

.institute{
  font-size: smaller;
  margin-top: 46px !important;
}

.slide-url{
  font-size: smaller;
  margin-top: 46px !important;
}

.blue{
 // color: #5e81ac;
   color: SlateBlue;

}
.green{
  //color: #a3be8c;
  color: Teal;
}
.orange{
  //color: #d08770;
  color: Salmon;
}
.yellow{
  //color: #ebcb8b;
  color: Gold;
}
.red {
  //color: #bf616a;
  color: IndianRed;
}

figure>figcaption {
    margin-top: 0;
}