
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,500;1,400;1,500&display=swap');

html {
  /*-- Main font sizes --*/
  --title-size:      40px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     rgba(42, 45, 79, 1);
  --header-color:    rgba(42, 45, 79, 1);
  --body-color:      rgba(42, 45, 79, 1);
  --aside-color:     rgba(42, 45, 79, 0.6);
  --fig-cap-color:   rgba(42, 45, 79, 0.6);
  --bkgd-color-main: #fbf9f5;
  --font-color-main: rgba(42, 45, 79, 1);
  --icon-color:      #668586;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    Raleway, sans-serif;
  --mono-font:       monospace;
  --body-font:       Lato, sans-serif;
  --navbar-font:     Lato, sans-serif;  /* websites + blogs only */
}


/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(42, 45, 79, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(42, 45, 79, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(42, 45, 79, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(42, 45, 79, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       18px;
  --text-color:       #fbf9f5;
  --text-size:        17px;
  --hover-color:      #668586; /*#f08a4b;*/
  --bkgd-color:       rgba(42, 45, 79, 1);
}

.distill-site-footer {
  --text-color:       #fbf9f5;
  --text-size:        15px;
  --hover-color:      #f08a4b;
  --bkgd-color:       rgba(42, 45, 79, 1);
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below */

body {
  color: var(--font-color-main);
  background-color: var(--bkgd-color-main);
  font-size: 1.1rem;
}

.btn-outline-dark {
  color: var(--font-color-main);
  border-color: var(--font-color-main);
}

.btn-outline-dark:hover {
  color: var(--font-color-main);
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}
.list-group-item-action, .list-group-item-action:focus, .list-group-item-action:hover {
  color: var(--font-color-main);
  background-color: var(--bkgd-color-main);
}

.list-group-item {
  background-color: var(--bkgd-color-main);
  border: 1px solid var(--font-color-main);
}

a:hover {
    color: var(--font-color-main);
    text-decoration: underline;
}

.distill-site-nav a:hover {
    text-decoration: none;
}

#edulist {
 /* width: 120%; */
}

#edulist ul {
  padding-left: 6px;
}

#edulist ul li ul li:before {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  content: "\f19d";
  color: rgba(42, 45, 79, 0.5);
  padding-right:3px;
  margin-left: -30px;
  margin-right: 3px;
}

#edulist ul, menu, dir {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#edulist ul ul, ol ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 6px;
  padding-inline-start:40px;
  color:rgba(42, 45, 79, 0.5);
}

#intlist ul {
  padding-left: 36px;
}

#intlist ul li:before {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  content: "\f138";
  color: rgba(42, 45, 79, 0.3);
  padding-right:3px;
  margin-left: -30px;
  margin-right: 3px;
}

#intlist ul li {
  margin-bottom: 6px;
}

#intlist ul, menu, dir {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.border-left {
  border-left-width: 0 !important;
}


.mh-100 {
  padding-left: 1rem!important;
  padding-bottom: 100px;
}

.col-5 {
  flex: 0 0 36.666667%;
  max-width: 36.666667%;
}

/* styling for icon-link buttons (see distilltools::icon_link()) */
/* too from https://github.com/EllaKaye/ellakaye-distill/blob/main/ek_theme.css for now*/
.icon-link {
    background-color: transparent;
    color: var(--icon-color);
    border: 1px solid;
    border-color: var(--icon-color);
    padding: 5px .4rem 5px .4rem;
    /*margin: 4px;*/
    margin-top: 4px;
    margin-right: 8px;
    margin-bottom: 4px;
    border-radius: 5px; /* Rounded edges */
}

.icon-link:hover {
    background-color: var(--icon-color);
    border-color: var(--icon-color);
    color: white;
}

div.dt-tags {
  visibility: hidden;
  margin: 0;
  height: 0;
}

.distill-site-header .fa-lg {
  vertical-align: .1667em;
}

.distill-site-header .title {
min-width: 125px !important;
line-height: 27px !important;
/*padding-left: 16px !important;
padding-right: 13px !important;*/
}

.rounded {
border-radius: 25% !important;
}

hr {
  margin-top: 0;
  border-top: 1px solid rgba(42, 45, 79,.1);
}

d-title h1 {
  font-size: 2rem;
}

d-title p {
  margin-bottom: 0;
  margin-top: .5em;
}

d-byline {
  border-top: 0;
  padding: 0;
}

d-article {
  border-top: 0;
  color: rgba(42, 45, 79, 1);
}

d-article a {
  color: rgba(42, 45, 79,.8);
}

d-article h1 {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(42, 45, 79,.1);
}

d-title h1, .posts-list > h1 {
  padding-bottom: 0;
  border-bottom: 0;
}

d-article h2 {
  font-size: 1.3rem;
  border: 0;
  padding-bottom: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

d-appendix {
  margin-top: 30px;
  color: var(--heading-color);
}


/*PUBLICATIONS*/

div.publishedDate {
  font-size: 1.5em;
}
div.dt-author {
  font-style: italic;
}
div.dt-author.louisaName {
  font-weight: bold;
  font-style: normal;
}
div.dt-tags {
  visibility: visible;
  height: 100%;
}
.posts-list .dt-tags .dt-tag {
  border-width: 0;
  padding-left: 0;
  font-size: 70%;
  color: rgba(42, 45, 79, 0.6);
}

.dt-tags .dt-tag {
  color: rgba(42, 45, 79, 0.6);
  border: 0;
  font-size: 90%;
  padding-left: 0;
  padding-top: 10px;
}

div.description {
  width: 65% !important;
  border-top: 1px solid rgba(42, 45, 79, 0.1);
  padding-top: 24px;
}
.posts-list .post-preview h2, .posts-list .description h2 {
  font-size: larger;
}
.posts-list .post-preview {
  border-bottom: 0px;
  padding-bottom: 10px ;
  padding-top: 0px ;
}
.posts-list .metadata {
  padding-top: 22px;
}


/* CODE */

pre {
  background-color: #fdfcfb !important;
  border: 1px dashed var(--icon-color);
  border-right: 8px solid var(--icon-color);
  padding: 4px;
}

div.sourceCode {
  background-color: #fdfcfb;
}

pre.sourceCode.r {
  border: 1px dashed var(--icon-color);
  border-left: 8px solid var(--icon-color);
}

code span.st {
  color: var(--icon-color);
}

code span.fu a {
  color: #4758ab;
}



.my-1.rounded {
             border: 0;
            }
  
.list-group {
    display: grid;
    grid-template-columns: 50% 50%;
}